APP_NAME="Right Hire CRM"
APP_ENV=development
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=right_hire_crm
DB_USERNAME=root
DB_PASSWORD=

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_username
SMTP_PASSWORD=your_password
SMTP_FROM_EMAIL=noreply@righthirecrm.com
SMTP_FROM_NAME="Right Hire CRM"
